.gridContainer {
    border: 2.5px solid black;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pixel {
    width: 100%;
    border: 2.5px solid black;
    text-align: center;
}